name: Deploy to Deno Deploy

on:
  push:
    branches:
      - main  # デプロイしたいブランチ

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v1.x

      - name: Deploy
        uses: denoland/deployctl@v1
        with:
          project: ${{ secrets.DENO_DEPLOY_PROJECT }}
          token: ${{ secrets.DENO_DEPLOY_TOKEN }}
          entrypoint: main.ts